@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}