@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "amiri";
  src: url("/fonts/Amiri/Amiri-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/fonts/IranYekan/IranYekan-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "amiri";
  src: url("/fonts/Amiri/Amiri-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/fonts/IranYekan/IranYekan-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "amiri";
  src: url("/fonts/Amiri/Amiri-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/fonts/IranYekan/IranYekan-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "amiri";
  src: url("/fonts/Amiri/Amiri-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/fonts/IranYekan/IranYekan-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "caveat";
  src: url("/fonts/Caveat/Caveat-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "amiri";
  src: url("/fonts/Amiri/Amiri-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan";
  src: url("/fonts/IranYekan/IranYekan-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranYekan-fanum";
  src: url("/fonts/IranYekan/IranYekan-fanun.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body.loading #root {
  visibility: hidden;
}

body.loaded #root {
  visibility: visible;
}

.pad-px-0 {
  padding: 0px;
}

.pad-px-1 {
  padding: 1px;
}

.pad-px-2 {
  padding: 2px;
}

.pad-px-3 {
  padding: 3px;
}

.pad-px-4 {
  padding: 4px;
}

.pad-px-5 {
  padding: 5px;
}

.pad-px-6 {
  padding: 6px;
}

.pad-px-7 {
  padding: 7px;
}

.pad-px-8 {
  padding: 8px;
}

.pad-px-9 {
  padding: 9px;
}

.pad-px-10 {
  padding: 10px;
}

.pad-px-11 {
  padding: 11px;
}

.pad-px-12 {
  padding: 12px;
}

.pad-px-13 {
  padding: 13px;
}

.pad-px-14 {
  padding: 14px;
}

.pad-px-15 {
  padding: 15px;
}

.pad-px-16 {
  padding: 16px;
}

.pad-px-17 {
  padding: 17px;
}

.pad-px-18 {
  padding: 18px;
}

.pad-px-19 {
  padding: 19px;
}

.pad-px-20 {
  padding: 20px;
}

.pad-px-21 {
  padding: 21px;
}

.pad-px-22 {
  padding: 22px;
}

.pad-px-23 {
  padding: 23px;
}

.pad-px-24 {
  padding: 24px;
}

.pad-px-25 {
  padding: 25px;
}

.pad-px-26 {
  padding: 26px;
}

.pad-px-27 {
  padding: 27px;
}

.pad-px-28 {
  padding: 28px;
}

.pad-px-29 {
  padding: 29px;
}

.pad-px-30 {
  padding: 30px;
}

.pad-px-31 {
  padding: 31px;
}

.pad-px-32 {
  padding: 32px;
}

.pad-px-33 {
  padding: 33px;
}

.pad-px-34 {
  padding: 34px;
}

.pad-px-35 {
  padding: 35px;
}

.pad-px-36 {
  padding: 36px;
}

.pad-px-37 {
  padding: 37px;
}

.pad-px-38 {
  padding: 38px;
}

.pad-px-39 {
  padding: 39px;
}

.pad-px-40 {
  padding: 40px;
}

.pad-px-41 {
  padding: 41px;
}

.pad-px-42 {
  padding: 42px;
}

.pad-px-43 {
  padding: 43px;
}

.pad-px-44 {
  padding: 44px;
}

.pad-px-45 {
  padding: 45px;
}

.pad-px-46 {
  padding: 46px;
}

.pad-px-47 {
  padding: 47px;
}

.pad-px-48 {
  padding: 48px;
}

.pad-px-49 {
  padding: 49px;
}

.pad-px-50 {
  padding: 50px;
}

.loader {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: var(--color-custom-gold);
  animation: fill 1s ease-in infinite alternate;
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}
/* Add to your global CSS */
.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out;
}

.slide-in-right {
  animation: slideInRight 0.5s ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.carousel {
  perspective: 1000px;
}

.carousel-img {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/*# sourceMappingURL=styles.css.map */
