@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-custom-gold: hsl(50, 100%, 35%);
    --color-custom-dark-gold: hsl(50, 100%, 20%);
}

@layer base {
    h1 {
        font-size: var(--text-3xl);
    }
    @media (min-width: 640px) {
        h1 {
            font-size: var(--text-5xl);
        }
    }
}